<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper row">
           <a href="/" class="brand-logo m12"><h2>WhooStreams</h2></a>
            <ul class="right m12">
                <li><a href="/#/login">Login</a></li>
                <li><a href="/#/register">Register</a></li>
                <li><a ng-click="logOutButton()">Log Out</a></li>
            </ul>
        </div>
            <div class="nav-wrapper">
              <form ng-submit="find(content)">
                <div class="input-field">
                  <input ng-model="content" id="search" type="search" required>
                  <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                  <i class="material-icons search-icon">close</i>
                </div>
              </form>
            </div>
    </nav>
</div>
<div class="movieContainer container">
    <div class="row">
        <div ng-click="movieId(movie.id)" ng-repeat="movie in movies">
            <div ng-model="movie.id" class="col sm12 m4">
                <img ng-src="{{movie.poster_240x342}}">
            </div>
        </div>
        <div>
            <div class="free">
                <h4>free</h4>
                <div ng-repeat="free in frees">
                    <div>
                        <a href="{{free.link}}">
                            <span>{{free.display_name}}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="subscription">
                <h4>Subscriptions</h4>
                <div ng-repeat="sub in subs">
                    <a href="{{sub.link}}">
                        <span>{{sub.display_name}}</span>
                    </a>
                </div>
            </div>
            <div class="purchase">
                <h4>Purchase</h4>
                <div ng-repeat="purchase in purchases">
                    <a href="{{purchase.link}}"><span>{{purchase.display_name}}</span></a>
                    <span ng-repeat="format in purchase.formats">
                        <span>{{format.type}}</span>
                        <span>{{format.format}}</span>
                        <span>{{format.price}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
