<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper row topNav">
            <div class="col m3 imgHeight">
                <a href="/"><img class="whooStreams" src="WHOOSTREAMS.png" alt="WhooStreams logo"></a>
            </div>
            <div class="nav-wrapper col m6 searchField">
                <form ng-submit="findMovie(content)">
                    <div class="input-field">
                        <input ng-model="content" id="search" type="search" required>
                        <label class="label-icon" for="search" placeholder="Search by Movie or Show"><i class="material-icons search-icon">search</i></label>
                        <i class="material-icons search-icon">close</i>
                    </div>
                </form>
            </div>
            <div class=" col m3">
                <ul class="right">
                    <li><a ng-hide="logOut"class="loginButton" href="/#/login">Login</a></li>
                    <li><a ng-hide="logOut" class="registerButton" href="/#/register">Register</a></li>
                    <li><a ng-hide="loggedin" class="logoutButton" ng-click="logOutButton()">Log Out</a></li>
                    <li ng-click="myMedia()" ng-hide="loggedin" class="my media"><a>My Media</a></li>
                </ul>
            </div>
        </div>
        <span>
            <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active" href="#movies">Movies</a></li>
                <li class="tab"><a href="#shows">Shows</a></li>
                <li class="tab"><a href="#all">Movies & Shows</a></li>
            </ul>
        </span>
    </nav>
</div>
<div id="movies" class="movieContainer">
    <div class="row">
        <div  ng-click="movieId(movie)" ng-repeat="movie in movies" class="">
            <div class="col s12 m4 l3">
                <div class="movieTitle">{{movie.title}}</div>
                <img class="" ng-src="{{movie.poster_240x342}}">
            </div>
        </div>
    </div>
</div>
<div id="shows" class="movieContainer test3">
    <div class="row">
        <div  ng-click="showId(show)" ng-repeat="show in shows" class="">
            <div ng-model="show.id" class="col s12 m4 l3">
                <div class="showTitle">{{show.title}}</div>
                <img class="modalPoster" ng-src="{{show.artwork_208x117}}">
            </div>
        </div>
    </div>
</div>
<div id="all">
    <div class="movieContainer">
        <span class="row">
            <div  ng-click="movieId(movie)" ng-repeat="movie in movies" class="">
                <div class="col s12 m4 l3">
                    <div class="movieTitle">{{movie.title}}</div>
                    <img class="" ng-src="{{movie.poster_240x342}}">
                </div>
            </div>
        </span>
    </div>
    <div>
        <h1>Shows</h1>
        <div class="row">
            <div  ng-click="showId(show)" ng-repeat="show in shows" class="">
                <div class="col s12 m4 l3">
                    <div class="showTitle">{{show.title}}</div>
                    <img class="modalPoster" ng-src="{{show.artwork_208x117}}">
                </div>
            </div>
        </div>
    </div>
</div>
